<% @title = "Mentions légales" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
<h1 id="credits"><%= @title %> <a href="#credits">#</a> </h1>

<h2 id="mentions">Hébergement et responsabilité éditoriale <a href="#mentions">#</a> </h2><dd>
<ul>
  <li>Hébergeur: Gandi SAS, 63-65 boulevard Masséna, 75013 Paris</li>
  <li>Editeur: OpenKnowledge France</li>
</ul>
</dd>


<h2 id="logo">Logo et images <a href="#logo">#</a> </h2>

<p>Logo : déclinaison de <a href="https://thenounproject.com/search/?q=horse&i=853134" target="_blank">Horse</a> réalisé par Nook Fulloption pour le Noun Project et disponible sous la licence CC-BY.</p>

<p>Page d'accueil : <a href="https://commons.wikimedia.org/wiki/File:Louvre_Palace.jpg" target="_blank">Louvre Palace</a> disponible sur Wikimedia Commons sous la licence CC-BY-SA</p>

<h2>Cookies et services externes</h2>

  <dl>
    <dt id="cookies">Cookies<a href="#cookies">#</a> </dt>

    <dd>
    <p>Afin de rendre notre service plus facile d'utilisation et plus utile, nous utilisons de petits fichiers enregistrés sur votre navigateur web (sur votre ordinateur ou smartphone), appelés "cookies". C'est une pratique très courante, et la plupart des sites web utilisent ce système.</p>

    <p>Ces cookies nous permettent par exemple de savoir que vous êtes connecté.e, et ainsi de ne pas vous redemander un mot de passe à chaque page. La liste ci-dessous décrit les cookies que nous utilisons:</p>
    <table>
        <tbody><tr>
          <th scope="col">Non</th>
          <th scope="col">Contenu typique</th>
          <th scope="col">Expiration</th>
        </tr>
        <tr>
          <td>_wdtk_cookie_session</td>
          <td>Un identifiant unique aléatoire</td>
          <td>Lorsque le navigateur est fermé, ou après un mois, si vous avez coché "Souvenez-vous de moi" lorsque vous vous êtes connecté.e</td>
        </tr>
        <tr>
          <td>seen_foi2</td>
          <td>Le chiffre 1 si vous avez vu une notification</td>
          <td>7 jours</td>
        </tr>
        <tr>
          <td>has_seen_country_message</td>
          <td>Le chiffre 1 si vous avez vu le message concernant les services FOI dans d'autres pays</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td>last_request_id</td>
          <td>Un numéro identifiant la dernière demande que vous avez vue sur notre site</td>
          <td>A la fermeture du navigateur</td>
        </tr>
        <tr>
          <td>last_body_id</td>
          <td>Un numéro identifiant la dernière administration que vous avez vue sur notre site</td>
          <td>A la fermeture du navigateur</td>
        </tr>
        <tr>
          <td>widget_vote</td>
          <td>Un identifiant aléatoire relatif à un vote "Je veux aussi savoir" sur une demande qui vous intéresse</td>
          <td>A la fermeture du navigateur</td>
        </tr>
      </tbody></table>
    </dd>

    <dt id="statistiques">Statistiques d'utilisation<a href="#statistiques">#</a> </dt>

    <dd>
    <p> Nous utilisons <a href="https://matomo.org/">matomo</a> pour collecter des statistiques sur l'utilisation du site, dans le but d'améliorer le service. Nous avons désactivé l'usage des cookies sur matomo.
    Les statistiques sur nous conservons incluent :
      <ul>
        <li>L'adresse IP (nous n'en conservons qu'une partie, qui ne permet pas d'identifier un utilisateur de manière unique)</li>
        <li>Les pages visitées</li>
        <li>L'origine de la visite</li>
        <li>Des informations sur votre navigateur web (logiciel, version…)</li>
        <li>Ces données ne sont pas partagées, ni agrégées avec celles d'autres sites. L'historique des visites est détruit après 6 mois.</li>
      </ul>
      Vous pouvez consulter la politique de confidentialité de matomo sur <a href="https://matomo.org/privacy-policy/">leur site (en anglais)</a>.
    </p>
    </dd>

  </dl>
<div id="hash_link_padding"></div>

</div>
